<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackery">
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon_trackery"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trackery">
        <activity
            android:name=".usale_cell"
            android:exported="true" />
        <activity
            android:name=".Update_USales"
            android:exported="true" />
        <activity
            android:name=".USales_Home"
            android:exported="true" />
        <activity
            android:name=".Add_USales"
            android:exported="true" />
        <activity
            android:name=".user_productdetails"
            android:exported="true" />
        <activity
            android:name=".user_product"
            android:exported="true" />
        <activity
            android:name=".finalupdateproduct"
            android:exported="true" />
        <activity
            android:name=".ProductsActivity"
            android:exported="true" />
        <activity
            android:name=".UserhomeActivity"
            android:exported="true" />
        <activity
            android:name=".Add_Users"
            android:exported="true" />
        <activity
            android:name=".add_products_form"
            android:exported="true" />
        <activity
            android:name=".view_products"
            android:exported="true" />
        <activity
            android:name=".ViewUsers"
            android:exported="true" />
        <activity
            android:name=".Users"
            android:exported="true" />
        <activity
            android:name=".Customer"
            android:exported="true" />
        <activity
            android:name=".Add_Customer"
            android:exported="true" />
        <activity
            android:name=".Update_Customer"
            android:exported="true" />
        <activity
            android:name=".Sales_Home"
            android:exported="true" />
        <activity
            android:name=".Add_Sales"
            android:exported="true" />
        <activity
            android:name=".Update_Sales"
            android:exported="true" />
        <activity
            android:name=".Sales_List"
            android:exported="true" />

        <activity
            android:name=".Admin_Home"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>